<ul>
<% if @menus %>
	<% @menus.each do |menu| %>
		<% if menu.id == @menu.id %>
			<li class="selected"><a href="<%= category_posts_url(menu) %>"><%= menu.name %></a></li>
		<% else %>
			<li><a href="<%= category_posts_url(menu) %>"><%= menu.name %></a></li>
		<% end %>
	<% end %>
<% end %>
<% if @user %>
	<li><a href="<%= admin_url %>">Administration</a></li>
<% end %>
</ul>