<% content_for :head do %>	
	<h2> <%= @category.name if @category %> </h2>
<% end %>

<% content_for :left do  %>
	<% if @latest_posts %>
		<% @latest_posts.each do |post| %>
			<h2><%= post.title  %></h2>
			<%= post.content[0..30] %>
			<br />
		<% end %>
	<% end %>
	
<% end %>

<div id="posts">
 
</div>
<div id="post_paginate" class="paginate">
	<%= will_paginate @posts if @posts  %>
</div>
<br />

<%= link_to 'New Post', new_category_post_path(@category) if @user %>
