<p id="notice"><%= notice %></p>

<p>
  <h4><%= @post.title %></h4>
</p>

<p>
  <%=raw @post.content %>
</p>


<%= link_to 'Edit', edit_category_post_path(@post.category, @post) if @user %>
<%= link_to 'Back', category_posts_path(@post.category) %>
