<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
    <div id="header"> </div>
    <div id="left">
      <div id="logo">
        <h1>Blog </h1>
      </div>
      <div id="nav">
        	<%= render 'applications/menu' %>
      </div>
      <div id="news">
		<div id="login">
				<% if session[:user_id] %>
					<%= form_tag "/logout", :method => 'delete' do %>
						<label for="name">Logged in as: <%= @user.name %></label>
						<%= submit_tag "Logout" %>
					<% end %>
				<% else %>
	      			<%= form_tag "/login" do %>
							<div>
								<label for="name">Login: </label> <br />
								<%= text_field_tag :name, params[:name], :size => 20 %>
							</div>
							<div>
								<label for="password">Password: </label> <br />
								<%= password_field_tag :password, params[:password], :size => 20 %>
							</div>
							<div>
							<%= submit_tag "Login" %>
							</div>
					<% end %>
				<% end %>
	      </div>  
      </div> 
    <div id="MostRecentPost"></div>
    </div>
    <div id="right">	
	
	  <%= render 'applications/submenu' %>
	
      <h2><%= yield :head %></h2>
      <div id="content">	
            <%= yield %>
      </div>
<!--
      <h3>Company Profile</h3>
      <div id="profile">
      
      </div>
-->
    </div>

    <div class="clear" />
    <div id="spacer" /> 
    <div id="footer">
      <div id="copyright">
        &nbsp;
      </div>
	  <div id="footerline"></div>
    </div>
	

</body>
</html>
